@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
/* NAVBAR */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.container-fluid {
  background-color: rgb(232, 232, 230);
  transition: color 1s;

  padding: 1.1rem;
  font-size: 1.3rem;
}
.navbar-brand {
  transition: color 2s;
}
.navbar-brand .nav-soc {
  color: gray;
}
.nav-item {
  transition: color 1s;
}

.nav-item .nav-link:hover {
  color: rgb(255, 183, 39);
}

.icon .nav-soc {
  color: #687683;
  transition: color 1s;
}
.icon .nav-soc:hover {
  color: rgb(255, 183, 39);
}

/* CAROUSEL */
.carousel-item {
  max-height: calc(100vh - 3.5rem);
}
.carousel-indicators button {
  background-color: red !important;
  margin-right: 0.7rem !important;
  height: 0.4rem !important;
  width: 3rem !important;
}

.carousel-item h5 {
  color: red;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 0.2rem;
  word-spacing: 25px;
  font-size: 2rem;
}

.carousel-caption {
  bottom: 5rem;
}

/* ABOUT ME */

section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

#mug img {
  width: 50%;
  height: 100%;
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 25px;
}
.row li {
  list-style: none;
}

.skills-content {
  margin-top: 2rem;
}
.skills-content .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  color: #3b434a;
}
.skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills-content .progress-bar-wrap {
  background: #e6e8eb;
}
.skills-content .html {
  width: 95%;
  height: 10px;
  transition: 0.9s;
  background-color: #ffb727;
}
.skills-content .css {
  width: 80%;
  height: 10px;
  transition: 0.9s;
  background-color: #ffb727;
}
.skills-content .javascript {
  width: 75%;
  height: 10px;
  transition: 0.9s;
  background-color: #ffb727;
}
.skills-content .python {
  width: 70%;
  height: 10px;
  transition: 0.9s;
  background-color: #ffb727;
}

/*--------------------------------------------------------------
# My Resume
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.resume .resume-item {
  padding: 0 20px;
  margin-top: -2px;
  border-left: solid #82909c 2px;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 1rem;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 20px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0px;
  background: #fff;
  border: 2px solid #82909c;
}

/*--------------------------------------------------------------
# Contact Me
--------------------------------------------------------------*/

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #ffb727;
  border-radius: 50%;
  padding: 15px;
  background: #fff6e4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 30px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contact .social-links a {
  border: 1px solid #dde1e4;
  font-size: 18px;
  display: inline-block;
  color: #687683;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
}

.contact .social-links a:hover {
  color: #fff;
  background: #ffb727;
  background-color: #ffb727;
}

.contact .email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 27px;
}

.contact button {
  background: #ffb727;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background-image: url("images /hacking-2903156_960_720.jpeg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: relative;
}
#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#footer .container {
  position: relative;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: transparent;
  /* background: #ffb727; */
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.2s;
  border: 1px solid #fff;
}
#footer .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}

.up-btn {
  background-color: red;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.7rem;
  text-align: center;
}

/*--------------------------------------------------------------
# Clock
--------------------------------------------------------------*/
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 7px;
}
